# --- CONFIGURACIÓN DE LA BASE DE DATOS ---
# El host donde corre la base de datos (por lo general es localhost o 127.0.0.1)
DB_HOST=localhost

# Tu usuario de MySQL (por defecto en XAMPP/Workbench es root)
DB_USER=root

# Tu contraseña de MySQL (déjalo vacío si no tienes contraseña)
DB_PASSWORD=

# El nombre exacto que le pusiste a la base de datos en el script SQL
DB_NAME=gestion_eventos

# --- CONFIGURACIÓN DE SEGURIDAD ---
# Una frase secreta larga y aleatoria para firmar los tokens JWT
JWT_SECRET=tu_clave_secreta_super_segura_123

# --- CONFIGURACIÓN DEL SERVIDOR ---
# El puerto donde correrá tu aplicación Node.js
PORT=3000